.footer-one{
    padding: 16px 0px;
    background-color: $color-grey-light-2;
    > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include s-phone{
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            text-align: center;
        }
        img{
            width: 150px;
            @include s-phone{
                margin: auto;
                margin-bottom: 8px;
            }
        }
        form{
            min-width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 2rem;
                color: $color-blue;
                @include s-phone{
                    margin-bottom: 8px;
                }
            }
            input{
                border:none;
                border-radius: 5px;
                margin: 0px 8px;
                padding-left: 8px;
                height: 40px;
                min-width: 70%;
                @include s-phone{
                    margin-bottom: 8px;
                }
            }
            button{
                border: none;
                border-radius: 5px;
                background-color: $color-blue;
                color: $color-grey-light-1;
                height: 40px;
                @include s-phone{
                    margin-bottom: 8px;
                }
            }
            @include s-phone{
                flex-direction: column;
            }
        }
    }
}
.footer-tow{
    padding: 16px 0px;
    background-color: $color-secondary;
    color: $color-grey-light-1;
    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include s-phone{
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            text-align: center;
        }
        .copyright{
            margin: 0px;
            font-size: .8rem;
            @include s-phone{
                margin-bottom: 16px;
            }
        }
        .link-items{
            li{
                margin: 0px 8px;
                display: inline-block;
                font-size: .8rem;
                a{
                    color: inherit;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
}